<!DOCTYPE html>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
{% load static %}
<link rel="stylesheet" href="{% static 'semantic/dist/semantic.min.css' %}">
<script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'affirmations/home.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<html>
    <body>

        <div class="ui menu" id="header">
            <div class="header center aligned item">
                <a href="{% url 'affirmation' %}" style="color: rgb(255, 255, 255); font-size: 1.5rem">
                    Affirmations for Eva
                </a>
            </div>
        </div>

        <div class="ui three row container">

            <div class="ui center aligned container">
                <div class="ui center aligned raised container segment" id="main">
                    <div class="ui centered gray card" id="mainCard">
                        <p style="font-size: 1.25rem; font-weight: bold; color: white">
                            {{ affirmation.text }}
                        </p>
                    </div>
                </div>

                <div class="two ui labeled icon circular buttons" id="buttons">
                        
                        <button class="ui compact button" style="background-color: #6f0030; color:white;" id="button" onclick="window.location.href='tel:+18596299166'">
                            <i class="phone icon"></i>
                            Call Me!
                        </button>

                        <button class="ui compact button" style="background-color: darkslategray; color:white;" id="button" onclick="window.location.href='/'">
                            <i class="dice icon"></i>
                            Reroll
                        </button>
                </div>
            </div>

            <div class="ui three column grid container">

                <img src="{% static 'affirmations/gifs/hatsune-miku-dance.gif' %}" alt="Dancing Miku" style="position: fixed; bottom: 10px; right: 0; width: 40%; height: auto; z-index: -1; max-height: 50%; flex-shrink: 1;">

                <img src="{% static 'affirmations/gifs/catdance.gif' %}" alt="Dancing Cat" style="position: fixed; bottom: 10px; left: 0; width: 40%; height: auto; z-index: -1; max-height: 50%; flex-shrink: 1;">

            </div>

        </div>
    </body>
</html>